@page
@{ Layout = "_Layout"; }

@section Styles{
  <style>
    .el-tag {
      height: auto;
      white-space: inherit;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  </style>
}

<div style="height: 10px"></div>

<el-form ref="form" :model="form" size="small" label-width="180px">
  <el-form-item label="拦截状态">
    <el-select v-model="form.isEnabled" placeholder="请选择拦截状态">
      <el-option label="启用拦截" :value="true"></el-option>
      <el-option label="禁用拦截" :value="false"></el-option>
    </el-select>
    <div class="tips">设置拦截状态</div>
  </el-form-item>

  <el-form-item v-if="form.isEnabled" label="拦截区域">
    <el-select v-model="form.isAllAreas">
      <el-option label="拦截以下区域" :value="false"></el-option>
      <el-option label="除以下区域外，拦截所有其他区域" :value="true"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item v-if="form.isEnabled" label="拦截区域">
    <el-tag
      v-for="blockArea in blockAreas"
      :key="blockArea.id"
      closable
      size="mini"
      v-on:close="handleAreaClose(blockArea.id)"
      type="primary">
      {{blockArea.name}}
    </el-tag>

    <div></div>

    <el-button size="mini" icon="el-icon-circle-plus-outline" v-on:click="btnAreaAddClick">
      新增拦截区域
    </el-button>
  </el-form-item>

  <el-form-item v-if="form.isEnabled" label="拦截页面">
    <el-select v-model="form.isAllChannels">
      <el-option label="拦截所有页面" :value="true"></el-option>
      <el-option label="拦截以下页面" :value="false"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item v-if="form.isEnabled && !form.isAllChannels" label="拦截以下页面">
    <el-tag
      v-for="blockChannel in blockChannels"
      :key="blockChannel.id"
      closable
      size="mini"
      v-on:close="handleChannelClose(blockChannel.id)"
      type="primary">
      {{blockChannel.name}}
    </el-tag>

    <div></div>

    <el-button size="mini" icon="el-icon-circle-plus-outline" v-on:click="btnChannelAddClick">
      新增拦截页面
    </el-button>
  </el-form-item>

  <el-form-item v-if="form.isEnabled" label="拦截方式" prop="blockMethod" name="blockMethod" :rules="{ required: true, message: '请选择拦截方式' }">
    <el-select v-model="form.blockMethod">
      <el-option label="转至指定网址" value="RedirectUrl"></el-option>
      <el-option label="显示拦截信息" value="Warning"></el-option>
      <el-option label="输入密码验证" value="Password"></el-option>
    </el-select>
  </el-form-item>

  <el-form-item v-if="form.isEnabled && form.blockMethod === 'Password'" label="输入密码验证" prop="password" name="password" :rules="{ required: true, message: '请输入密码验证' }">
    <el-input v-model="form.password"></el-input>
  </el-form-item>
  <el-form-item v-if="form.isEnabled && form.blockMethod === 'Warning'" label="显示拦截信息" prop="warning" name="warning" :rules="{ required: true, message: '请输入显示拦截信息' }">
    <el-input v-model="form.warning"></el-input>
  </el-form-item>
  <el-form-item v-if="form.isEnabled && form.blockMethod === 'RedirectUrl'" label="转至指定网址" prop="redirectUrl" name="redirectUrl" :rules="{ required: true, message: '请输入转至指定网址' }">
    <el-input v-model="form.redirectUrl"></el-input>
  </el-form-item>
  

</el-form>

<div style="text-align: center;">
  <el-divider></el-divider>
  <div style="height: 10px"></div>
  
  <el-button size="small" type="primary" v-on:click="btnSubmitClick">
    保 存
  </el-button>
</div>

@section Scripts{
  <script src="/assets/block/js/settings.js" type="text/javascript"></script>
}